USE [AdventureWorks2019]
GO
/****** Object:  UserDefinedDataType [dbo].[AccountNumber]    Script Date: 1/21/2024 10:26:51 PM ******/
CREATE TYPE [dbo].[AccountNumber] FROM [nvarchar](15) NULL
GO
